In [2]:
import pandas as pd

In [3]:
cleaned_df = pd.read_csv('cleaned_data.csv')

In [5]:
cleaned_df = cleaned_df.sort_values(by='CGPA')

In [9]:
# cleaned_df.info()
df1 = cleaned_df[cleaned_df['CGPA']>=7.5]

In [15]:
df1.info()
df1.to_csv('data_high.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 52 to 0
Data columns (total 22 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Gender                                          55 non-null     object
 1   CGPA                                            55 non-null     float64
 2   10th Class Board                                55 non-null     object
 3   10th Class Science Marks (out of 100)           55 non-null     int64
 4   10th Class Maths Marks (out of 100)             55 non-null     int64
 5   10th Class English/Language Marks (out of 100)  55 non-null     int64
 6   10th Class Overall Percentage                   55 non-null     float64
 7   12th Class School Category                      55 non-null     object
 8   12th Class Board                                55 non-null     object
 9   12th Class Physics Marks (out of 100)           55 non-null     float64
 10  12th Class Maths Marks (out of 100)             55 non-null     float64
 11  12th Class Chemistry Marks (out of 100)         55 non-null     float64
 12  12th Class English/Language Marks (out of 100)  55 non-null     int64
 13  12th Class Overall Percentage                   55 non-null     float64
 14  JEE Mains Session 1 Maths Percentile            55 non-null     float64
 15  JEE Mains Session 1 Physics  Percentile         55 non-null     float64
 16  JEE Mains Session 1 Chemistry  Percentile       55 non-null     float64
 17  JEE Mains Session 1 Overall Score               55 non-null     float64
 18  JEE Mains Session 2 Maths  Percentile           55 non-null     float64
 19  JEE Mains Session 2 Physics  Percentile         55 non-null     float64
 20  JEE Mains Session 2 Chemistry  Percentile       55 non-null     float64
 21  JEE Mains Session 2 Overall  Percentile         55 non-null     float64
dtypes: float64(14), int64(4), object(4)
memory usage: 9.9+ KB

In [13]:
df2 = cleaned_df[(cleaned_df['CGPA']>=6.5) & (cleaned_df['CGPA']<7.5)]
df2.info()
df2.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 118 to 55
Data columns (total 22 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Gender                                          67 non-null     object
 1   CGPA                                            67 non-null     float64
 2   10th Class Board                                67 non-null     object
 3   10th Class Science Marks (out of 100)           67 non-null     int64
 4   10th Class Maths Marks (out of 100)             67 non-null     int64
 5   10th Class English/Language Marks (out of 100)  67 non-null     int64
 6   10th Class Overall Percentage                   67 non-null     float64
 7   12th Class School Category                      67 non-null     object
 8   12th Class Board                                67 non-null     object
 9   12th Class Physics Marks (out of 100)           67 non-null     float64
 10  12th Class Maths Marks (out of 100)             67 non-null     float64
 11  12th Class Chemistry Marks (out of 100)         67 non-null     float64
 12  12th Class English/Language Marks (out of 100)  67 non-null     int64
 13  12th Class Overall Percentage                   67 non-null     float64
 14  JEE Mains Session 1 Maths Percentile            67 non-null     float64
 15  JEE Mains Session 1 Physics  Percentile         67 non-null     float64
 16  JEE Mains Session 1 Chemistry  Percentile       67 non-null     float64
 17  JEE Mains Session 1 Overall Score               67 non-null     float64
 18  JEE Mains Session 2 Maths  Percentile           67 non-null     float64
 19  JEE Mains Session 2 Physics  Percentile         67 non-null     float64
 20  JEE Mains Session 2 Chemistry  Percentile       67 non-null     float64
 21  JEE Mains Session 2 Overall  Percentile         67 non-null     float64
dtypes: float64(14), int64(4), object(4)
memory usage: 12.0+ KB

,Gender,CGPA,10th Class Board,10th Class Science Marks (out of 100),10th Class Maths Marks (out of 100),10th Class English/Language Marks (out of 100),10th Class Overall Percentage,12th Class School Category,12th Class Board,12th Class Physics Marks (out of 100),...,12th Class English/Language Marks (out of 100),12th Class Overall Percentage,JEE Mains Session 1 Maths Percentile,JEE Mains Session 1 Physics Percentile,JEE Mains Session 1 Chemistry Percentile,JEE Mains Session 1 Overall Score,JEE Mains Session 2 Maths Percentile,JEE Mains Session 2 Physics Percentile,JEE Mains Session 2 Chemistry Percentile,JEE Mains Session 2 Overall Percentile
118,Male,6.5,CBSE,86,91,86,90.2,Government School,CBSE,68.0,...,80,75.40,45.0,81.9,75.6,77.4,31.6,90.0,87.6,86.0
117,Male,6.5,State Board,100,100,100,100.0,Private School,State Board,93.0,...,94,88.40,33.8,66.4,95.4,86.9,37.4,78.4,88.1,81.1
120,Male,6.5,CBSE,89,90,84,84.6,Government School,CBSE,81.0,...,78,84.20,74.1,96.3,98.1,96.9,69.3,91.3,96.2,93.3
119,Female,6.5,CBSE,86,87,92,89.0,Private School,CBSE,76.0,...,95,78.80,45.0,69.0,33.0,51.0,78.0,71.0,91.0,83.0
121,Male,6.5,CBSE,93,93,76,87.2,Private School,CBSE,78.0,...,87,75.80,61.7,67.0,51.6,61.1,73.3,76.4,46.0,70.7
105,Male,6.6,CBSE,91,99,86,92.8,Government School,CBSE,91.0,...,89,82.16,86.3,91.0,89.8,91.4,50.0,89.5,89.5,87.9
106,Male,6.6,CBSE,94,87,80,89.4,Government School,CBSE,66.0,...,85,77.20,45.9,90.5,69.8,83.5,55.3,39.6,58.4,48.4
107,Female,6.6,CBSE,96,86,82,89.0,Private School,CBSE,68.0,...,76,71.00,83.0,63.3,64.0,69.0,76.0,66.0,69.0,70.0
108,Male,6.6,State Board,95,95,85,90.8,Private School,CBSE,81.0,...,77,70.00,68.0,81.0,58.0,73.0,94.0,80.0,28.0,77.0
109,Male,6.6,CBSE,90,93,88,89.2,Government School,CBSE,95.0,...,73,88.80,26.8,89.8,74.2,80.5,92.6,84.3,93.2,91.8

In [16]:
df2.to_csv('data_mid.csv',index=False)

In [14]:
df3 = cleaned_df[cleaned_df['CGPA']<6.5]
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 156 to 127
Data columns (total 22 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Gender                                          35 non-null     object
 1   CGPA                                            35 non-null     float64
 2   10th Class Board                                35 non-null     object
 3   10th Class Science Marks (out of 100)           35 non-null     int64
 4   10th Class Maths Marks (out of 100)             35 non-null     int64
 5   10th Class English/Language Marks (out of 100)  35 non-null     int64
 6   10th Class Overall Percentage                   35 non-null     float64
 7   12th Class School Category                      35 non-null     object
 8   12th Class Board                                35 non-null     object
 9   12th Class Physics Marks (out of 100)           35 non-null     float64
 10  12th Class Maths Marks (out of 100)             35 non-null     float64
 11  12th Class Chemistry Marks (out of 100)         35 non-null     float64
 12  12th Class English/Language Marks (out of 100)  35 non-null     int64
 13  12th Class Overall Percentage                   35 non-null     float64
 14  JEE Mains Session 1 Maths Percentile            35 non-null     float64
 15  JEE Mains Session 1 Physics  Percentile         35 non-null     float64
 16  JEE Mains Session 1 Chemistry  Percentile       35 non-null     float64
 17  JEE Mains Session 1 Overall Score               35 non-null     float64
 18  JEE Mains Session 2 Maths  Percentile           35 non-null     float64
 19  JEE Mains Session 2 Physics  Percentile         35 non-null     float64
 20  JEE Mains Session 2 Chemistry  Percentile       35 non-null     float64
 21  JEE Mains Session 2 Overall  Percentile         35 non-null     float64
dtypes: float64(14), int64(4), object(4)
memory usage: 6.3+ KB

In [17]:
df3.to_csv('data_low.csv',index=False)